[[plugins]]
  package = "@netlify/plugin-nextjs"

[build]
  command = "npm install && npm run build"
  publish = "out"
  base = "frontend"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
